<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.QLTHUVIENConnectionString"
            connectionString="Data Source=DESKTOP-IJM3VLU\SQLEXPRESS;Initial Catalog=QLTHUVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>